     /*背景层*/
     
     #popLayer {
         display: none;
         background-color: #000;
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         z-index: 10;
         /*z-index 属性设置元素的堆叠顺序。拥有更高堆叠顺序的元素总是会处于堆叠顺序较低的元素的前面。*/
         opacity: 0.6;
         /*透明度*/
     }
     /*弹出层*/
     
     #popBox {
         display: none;
         background-color: #FFFFFF;
         z-index: 11;
         width: 300px;
         height: 300px;
         position: fixed;
         top: 0;
         right: 0;
         left: 0;
         bottom: 0;
         margin: auto;
     }
     /*关闭按钮*/
     
     #popBox .close {
         text-align: right;
         margin-right: 5px;
         background-color: #F8F8F8;
     }
     
     #popBox .close a {
         text-decoration: none;
         color: #2D2C3B;
     }