* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

ul {
    text-align: center;
}

#mm {
    width: 500px;
    height: 350px;
}

#ee {
    width: 500px;
    height: 350px;
    margin: 0 auto;
}

p {
    text-align: center;
}