ul {
    list-style: none;
    height: 100px;
}

textarea {
    margin-bottom: 10px;
}

li {
    display: inline-block;
    background-color: rgba(0, 204, 255, 1);
    color: white;
    margin: 10px;
    padding: 5px;
    font-size: 30px;
}

.hobby {
    font-size: 30px;
    background-color: rgba(255, 199, 102, 1);
    padding: 5px;
}

.red {
    background-color: red;
}