label {
    color: black;
    font-weight: bold;
}

#div1 {
    width: 120px;
    height: 50px;
}

input {
    width: 120px;
    background-color: pink;
    font-weight: bold;
}

button {
    background-color: pink;
    font-weight: bold;
    width: 120px;
}

table,
th,
td {
    border: 5px solid seagreen;
}

table {
    border-collapse: collapse;
    width: 30%;
    margin: 0 auto;
}

td {
    color: slateblue;
    font-weight: bold;
    text-align: center;
    vertical-align: bottom;
}

th {
    height: 50px;
}